.window-container {
  padding: 20px;
  position: relative;
  display: flex;
  resize: both;
}

#btn-drag {
  position: absolute;
  top: 5px;
  right: 5px;
}

.search-bar {
  width: 100%;
  height: fit-content;
}

.search-logo {
  display: inline-block;
}

.textbox {
  width: 400px;
}