.icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  mix-blend-mode: difference;
}

.settings-window {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  transition: .2s ease-in;
}